.project-table{
  .arrow-up{
    position: absolute;
    width: 10px;
    height: 15px;
    margin-left: 12px;
  }
  .arrow-down{
    position: absolute;
    width: 10px;
    height: 15px;
    margin-top: 10px;
    margin-left: 30px;
  }
}

.tableFixedWrapper{
  position: relative;
}

.tableWrapper{
  max-width: 100%;
  overflow-x: auto;
}