.topbar-container{
  position: fixed;
  z-index: 99;
  top: 0;
  left: $sidebar-width;
  width: 100%;
  background: white;
  height: $topbar-height;
  border-bottom: 1px solid black;
  .topbar-name{
    text-align: right;
    color: black;
    margin-right: 300px;
    margin-top: 15px;
  }  
}